<ion-content class="ion-padding">
  <div class="menu-container">
    <p class="ion-text-center">
      <ion-text color="primary">
        <h1><strong>Adivina el Número</strong></h1>
      </ion-text>
      <ion-text color="medium">-- DSM Games --</ion-text>
    </p>

    <!-- Opción Jugar -->
    <ion-card class="menu-option" mode="ios" routerLink="/game" color="success">
      <ion-card-header>
        <ion-card-title>Jugar</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Ranking -->
    <ion-card class="menu-option" mode="ios" routerLink="/leaderboard" color="secondary">
      <ion-card-header>
        <ion-card-title>Ranking</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Salir -->
    <ion-card class="menu-option" mode="ios" routerLink="/login" color="dark">
      <ion-card-header>
        <ion-card-title>Salir</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>


