<ion-content class="ion-padding"> 
  <div class="menu-container"> 
 
    <p class="ion-text-center"> 
      <ion-text color="primary"><h1><strong>Adivina el numero</strong></h1></ion-text> 
      <ion-text>-- DSM Games --</ion-text> 
    </p> 
 
    <!-- Opción Jugar --> 
    <ion-card class="menu-option" mode="ios" routerLink="/game" color="primary"> 
      <ion-card-header> 
        <ion-card-title>Jugar</ion-card-title> 
      </ion-card-header> 
     </ion-card> 
 
     <!-- Opción Ranking --> 
     <ion-card class="menu-option" mode="ios" routerLink="/leaderboard" color="warning"> 
      <ion-card-header> 
        <ion-card-title>Ranking</ion-card-title> 
      </ion-card-header> 
     </ion-card> 
 
     <!-- Opción Salir --> 
     <ion-card class="menu-option" mode="ios" routerLink="/login" color="dark"> 
      <ion-card-header> 
        <ion-card-title> Salir </ion-card-title> 
      </ion-card-header> 
     </ion-card> 
 
    </div> 
  </ion-content>